@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,500;9..144,700&family=Josefin+Sans:wght@100;200;300;400&family=Lora:ital,wght@1,400;1,500;1,600&family=Playfair+Display:ital,wght@0,400;0,500;0,800;1,400&family=Varela&display=swap');

body{
    margin: 0;
    font-family: 'Playfair Display', serif;
}

.navbar{
    z-index: 2;
    display: flex;
    color: #3b3b3b;
    border-bottom: 1px solid black;   
}
.listItem a{
    text-decoration: none;
}
.list{
    display: flex;
    flex: 2;
    list-style: none;
    justify-content: space-around;
    align-items: center;    
}

.image{
    padding-left: 10px;
}

.logo{
    width: 60px;
}

.form{
    width: 250px;
    height: 368px;
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%, rgba(0,0,0,0.8)50%);
    /* position: -20px; */
    left: 870px;
    border-radius: 10px;
    padding: 25px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 40px;
}

.form h2{
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: #48887b;
    font-size: 22px;
    background-color: white;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}

.form input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #48887b;
    border-top: none;
    border-right: none;
    border-left: none;
    color: white;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}

.font input:focus{
    outline: none;
}

::placeholder{
    color: white;
    font-family: Arial;
}

.btnn{
    width: 240px;
    height: 40px;
    background: #48887b;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    transition: 0.4s ease;
}

.btnn:hover{
    background-color: white;
    color: #48887b;
}

.btnn a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.form .link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
    color: white;
}

.form .link a{
    text-decoration: none;
    color: #48887b;
}

.lw{
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
    color: white;
}

#footer {	
	float: Left;	
	width: 100%;	
	background: #48887b;	
}
.site-footer{
    display: flex;
    height: 150px;
    max-width: 80%;
    /* margin: 0 auto; */
    line-height: 38px;
    justify-content: space-between;
    list-style: none;
}
.foot-section h4 {
    color: #fff;
    font-size: 24px;
    margin: 0;
    font-family: 'playfair_displayregular';
	font-weight: 500;
}
.site-info {
	background: #111;	
	float: left;	
	width: 100%;		
	line-height: 48px;
}
.site-info ul {
    text-align: center;
    float: left;
    width: 100%;
    list-style-type:none;
    color: #dadada;
}
.site-info ul li a {
    color: #c9c9c9;
    font-family: 'muliregular';
    font-weight: lighter;
    font-size: 15px;
    text-decoration: none;
}
.foot-section ul.usefulbtn li a {
    color: #fff;
    text-decoration: none;
    /* list-style: none; */
}
.foot-section a{
    text-decoration: none;
}